h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 1.25vw;
  text-align: left;
}

ul {
  list-style-type: none;
  color: black;
}

ol {
  padding: 5px;
  text-align: left;
  color: black;
}

.images {
  width: 15vw;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
